.pageBackground {
  min-height: 100vh;
  background: rgb(249, 249, 249);
}
.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin: 100px 0;
}
.error {
  text-align: center;
  font-size: 1.2rem;
  color: #e74c3c;
  margin: 100px 0;
}
.notFound {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin: 100px 0;
}
